.todo {
	&__list {
		list-style: none;

		&_item {
			padding: 10px 0;
			padding-left: 60px;
			border-bottom: 1px solid #ebebeb;

			label {
				position: relative;
				display: block;
				cursor: pointer;

				input {
					display: none;

					&:checked + span {
						border-color: #76ada4;

						&::before {
							content: '';
							position: absolute;
							top: -2px;
							left: -1px;
							width: 20px;
							height: 20px;
							background: url(/public/icons/check.png) center no-repeat;
							opacity: 1;
						}

						& + span {
							color: #dddddd;
							text-decoration: line-through;
						}
					}
				}
			}
		}

		&_fake_input {
			position: absolute;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
			border: 1px solid #ebebeb;
			left: -40px;
			top: 3px;
			transition: border 0.1s ease-in;
			-webkit-transition: border 0.1s ease-in;
			-moz-transition: border 0.1s ease-in;
			-ms-transition: border 0.1s ease-in;
			-o-transition: border 0.1s ease-in;

			&::before {
				opacity: 0;
				transition: opacity 0.2s ease-in;
				-webkit-transition: opacity 0.2s ease-in;
				-moz-transition: opacity 0.2s ease-in;
				-ms-transition: opacity 0.2s ease-in;
				-o-transition: opacity 0.2s ease-in;
			}
		}
	}
}
